name: Terraform Apply Workflow

on:
  push: 
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  id-token: 'write'

jobs:
  init:
    runs-on: ubuntu-latest

    steps:
    # checkout repository to github action runner
    - name: Checkout
      uses: actions/checkout@v3

    - id: auth
      uses: google-github-actions/auth@v2.0.0
      with:
        workload_identity_provider: 'projects/624433382152/locations/global/workloadIdentityPools/github-demo-pool-niketa/providers/github'
        service_account: 'github-actions-workload-federa@niketa.iam.gserviceaccount.com'

     # Terraform Init
    - name: Terraform Init
      run: |
        cd terraform-google-cloud-vpc-template
        terraform init

  plan: 
     runs-on: ubuntu-latest
     needs: init

     steps:
    # checkout repository to github action runner
      - name: Checkout
        uses: actions/checkout@v3

      - id: auth
        uses: google-github-actions/auth@v2.0.0
        with:
          workload_identity_provider: 'projects/624433382152/locations/global/workloadIdentityPools/github-demo-pool-niketa/providers/github'
          service_account: 'github-actions-workload-federa@niketa.iam.gserviceaccount.com'

    # Terraform Plan
      - name: Terraform Plan
        run: |
          cd terraform-google-cloud-vpc-template
          terraform init -reconfigure
          terraform plan -var-file=vpc.tfvars -var-file=subnet.tfvars -var-file=firewall.tfvars

  apply: 
     runs-on: ubuntu-latest
     needs: plan

     steps:
    # checkout repository to github action runner
      - name: Checkout
        uses: actions/checkout@v3

      - id: auth
        uses: google-github-actions/auth@v2.0.0
        with:
          workload_identity_provider: 'projects/624433382152/locations/global/workloadIdentityPools/github-demo-pool-niketa/providers/github'
          service_account: 'github-actions-workload-federa@niketa.iam.gserviceaccount.com'


      # Terraform Apply
      - name: Terraform Apply
        run: |
          cd terraform-google-cloud-vpc-template
          terraform init -reconfigure
          terraform apply -auto-approve -input=false  -var-file=vpc.tfvars -var-file=subnet.tfvars -var-file=firewall.tfvars
