name: Terraform Workflow

on:
  push: 
    branches: [ "" ]
  workflow_dispatch:
  pull_request:

permissions:
  contents: read
  id-token: 'write'

jobs:
  init:
    runs-on: ubuntu-latest

    steps:
    # checkout repository to github action runner
    - name: Checkout
      uses: actions/checkout@v3

    - id: auth
      uses: google-github-actions/auth@v2.0.0
      with:
        workload_identity_provider: 'projects/624433382152/locations/global/workloadIdentityPools/github-demo-pool-niketa/providers/github'
        service_account: 'github-actions-workload-federa@niketa.iam.gserviceaccount.com'

     # Terraform Init
    - name: Terraform Init
      run: |
        cd terraform-google-cloud-vpc-template
        terraform init

  validate: 
     runs-on: ubuntu-latest

     steps:
    # checkout repository to github action runner
      - name: Checkout
        uses: actions/checkout@v3

      - id: auth
        uses: google-github-actions/auth@v2.0.0
        with:
          workload_identity_provider: 'projects/624433382152/locations/global/workloadIdentityPools/github-demo-pool-niketa/providers/github'
          service_account: 'github-actions-workload-federa@niketa.iam.gserviceaccount.com'
     
     #Terraform Validate
      - name: Terraform Validate
        run: |
         cd terraform-google-cloud-vpc-template
         terraform init
         terraform validate

  plan: 
     runs-on: ubuntu-latest

     steps:
    # checkout repository to github action runner
      - name: Checkout
        uses: actions/checkout@v3

      - id: auth
        uses: google-github-actions/auth@v2.0.0
        with:
          workload_identity_provider: 'projects/624433382152/locations/global/workloadIdentityPools/github-demo-pool-niketa/providers/github'
          service_account: 'github-actions-workload-federa@niketa.iam.gserviceaccount.com'

    # Terraform Plan
      - name: Terraform Plan
        run: |
          cd terraform-google-cloud-vpc-template
          terraform init -reconfigure
          terraform plan -var-file=vpc.tfvars -var-file=subnet.tfvars -var-file=firewall.tfvars

  jobs:
    tflint:
    runs-on: ubuntu-latest
      call-template:
         uses: ./.github/workflows/tflint-official.yml
         

  apply: 
     runs-on: ubuntu-latest

     steps:
    # checkout repository to github action runner
      - name: Checkout
        uses: actions/checkout@v3

      - id: auth
        uses: google-github-actions/auth@v2.0.0
        with:
          workload_identity_provider: 'projects/624433382152/locations/global/workloadIdentityPools/github-demo-pool-niketa/providers/github'
          service_account: 'github-actions-workload-federa@niketa.iam.gserviceaccount.com'


      # Terraform Apply
      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
