name: Wiz scanning

on:
  workflow_dispatch:

jobs:
  WIZ-SCAN:
    runs-on: ubuntu-latest

  steps:
  - uses: actions/checkout@v4
  - name: Download WIZ CLI
    run: curl --silent -o wizcli https://wizcli.app.wiz.io/latest/wizcli && chmod +x wizcli

  - name: Wiz IAC Scan
    run: |
      ./wizcli auth --id ${{secrets.WIZ_CLIENT_ID}} --secret ${{secrets.WIZ_CLIENT_SECRET}}
      ./wizcli iac scan --path . -p "$WIZ_IAC_POLICY" --tag github_action_run_id=${{ github.run_id }} -o results.sarif,sarif,false
    
    
